#mainImg{
    width: 350px;
}

.menuSelect{
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
}

.selectTitle{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.select{
    width: 200px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;
    background: #ddd;
}

#select1:hover, #select3:hover{
    cursor: pointer;
}

#select2, #select4{
    background: #444;
}

.textNormal{
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
}

#spaceCanvas2{
    margin-bottom: 30px;
}

.tabla{
    background: #444;
    color: white;
}

.tabla th{
    padding: 10px !important;
    text-align: center;
}
.tabla td{
    padding: 10px !important;
    text-align: center;
}


.fieldSpace label{
    display: flex;
    flex-direction: column;
}

.fieldSpace label input{
    margin: 10px 0;
    width: 400px;
    height: 30px;
}

.fieldSpace label textarea{
    height: 100px;
    width: 400px;
}

.cerrarSesion{
    background: #455871;
    width: 200px;
    color: white;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    font-family: 'Roboto','sans-serif'
}

.cerrarSesion p{
    margin: 0;
    padding: 0;
    font-family: 'Roboto','sans-serif';
    font-size: 15px;
}
.cerrarSesion a{
    color: white;
    padding: 0;
}