body{
    background-color: #ccccff;
}

.back-auth{

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.about-content{
    height: 100% !important;
    min-height: 100vh;
}
.back-auth-post{
    width: 90%;
    margin: auto;
    background-color: #455871; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    height: 100%;
}


.imagenFace{
    max-width: 40%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.textInstructions{
    text-align: center;
    color: white;
    margin-bottom: 20px !important;
}


.userAuth{
    display: none;
    color: white;
}

.userAuth input{
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
}